header{
    height: 40vh;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/header.avif) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}
.header-text{
    color: whitesmoke;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
    padding-left: 1em;
    padding-right: 1em;
}
.header-text h2{

    color: lightgrey;
}

 /* Style the navbar */
 #navbar {
    padding-left: 5%;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  
  /* Navbar links */
  #navbar a {
    display: block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
  }
