---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Hoffmann fanmade coffee calculator</title>
    <meta name="description" content="">
    <meta name="creator" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/chemex_style.svg">

</head>

<body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header class="u-full-width">
        <div class="header-text">
            <h1>Hoffmann fanmade coffee calculator</h1>
            <h3>Quickly calculate brew rations for delicious coffee based on James Hoffmann's recipes</h1>
        </div>
    </header>
    <div class="container">
        <div class="row" style="margin: 5rem;">
            <p>This is just a small recreation of the <a
                    href="https://coda.io/@alessandro-mingione/hoffmann-coffee-calculator">Hoffmann coffee
                    Calculator from Alessandro Mingione</a>. In this version you can set any liquid size and I fixed
                an error with the amount of water used in the iced coffee calculation. Feel free to contribute and
                fix errors on github.</p>
        </div>
          {% include filters.liquid %}
          <div class="content">

            <div class="recipieWrapper">
                {% for recipe in site.recipes %}
                <!--#region {{ recipe.shortHand }}  -->
                <div class="row" 
                data-creator='{{ recipe.creators | downcase | replace: " ", "-" }}' 
                data-device='{{ recipe.device | downcase | replace: " ", "-" }}' 
                data-tagg='{{ recipe.taggs | downcase | replace: " ", "-" }}'>
                    <h3 id="{{ recipe.shortHand }}"><a href="#{{recipe.shortHand}}">{{ recipe.title }}</a></h3>
                    <div class="tags">
                      {% assign tags = recipe.taggs | split: "," %}
                      {% for tagg in tags %}
                      <span class="tag">#{{tagg | strip}}</span>
                  
                  
                      {% endfor %}
                    </span>
                    </div>
                    <iframe width="100%" height="315" src="{{ recipe.videoUrl }}" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {{ recipe.content }}

                </div>
                <!--endregion -->
                {% endfor %}
            </div>
            {% include sidebar.html %}

        </div>
    </div>
    <footer>

    </footer>
    <script type="text/javascript" src="js/calculator.js"> </script>
    <script type="text/javascript" src="js/filter.js"> </script>

</body>

</html>