{% assign creators = "All" | split: "," %}
{% assign devices = "All"%}

{% for recipe in site.recipes %}

{% if recipe.creators %}
{% for creator in recipe.creators | split: "," %}
{% assign creatorCleaned = creator | strip | split: "," %}
{% assign creators = creators | concat: creatorCleaned %}
{% endfor %}
{% endif %}
{% if recipe.device %}
{% for device in recipe.device | split: "," %}
{% assign deviceCleaned = device | strip | split: "," %}
{% assign devices = devices | concat: deviceCleaned %}
{% endfor %}
{% endif %}

{% endfor %}

{% assign creators = creators | uniq %}
{% assign devices = devices | uniq %}
<div>
<button onclick="toggleFilterMenu()" class="filterToggle ">Filter</button>
<div class="filter" hidden="">
    <b>Creator:</b>
    <div class="creators">
      {% for creator in creators %}


      <button class="filter-btn filter-btn-auth {% if forloop.first %}active{% endif -%}"
        data-filter-creator='{{creator | downcase |replace: " ", "-"}}'>{{creator}}</button>

      {% endfor %}

  </div>
    <b>Device:</b>
  <div class="devices">
    {% for device in devices %}

    <button class="filter-btn filter-btn-device {% if forloop.first %}active{% endif -%}"
    data-filter-device='{{ device | downcase |replace: " ", "-"}}'>{{device}}</button>


    {% endfor %}
  </div>
</div>

</div>