{% assign authors = "All" | split: "," %}
{% assign devices = "All"%}

{% for recipe in site.recipes %}

{% if recipe.authors %}
{% for author in recipe.authors | split: "," %}
{% assign authorCleaned = author | strip | split: "," %}
{% assign authors = authors | concat: authorCleaned %}
{% endfor %}
{% endif %}
{% if recipe.device %}
{% for device in recipe.device | split: "," %}
{% assign deviceCleaned = device | strip | split: "," %}
{% assign devices = devices | concat: deviceCleaned %}
{% endfor %}
{% endif %}

{% endfor %}

{% assign authors = authors | uniq %}
{% assign devices = devices | uniq %}
<div>
<button onclick="toggleFilterMenu()" class="filterToggle ">Filter</button>
<div class="filter" hidden="">
    <b>Creator:</b>
    <div class="authors">
      {% for author in authors %}


      <button class="filter-btn filter-btn-auth {% if forloop.first %}active{% endif -%}"
        data-filter-author='{{author | downcase |replace: " ", "-"}}'>{{author}}</button>

      {% endfor %}

  </div>
    <b>Device:</b>
  <div class="devices">
    {% for device in devices %}

    <button class="filter-btn filter-btn-device {% if forloop.first %}active{% endif -%}"
    data-filter-device='{{ device | downcase |replace: " ", "-"}}'>{{device}}</button>


    {% endfor %}
  </div>
</div>

</div>